@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer-title-font{
  font-family: Arial, Helvetica, sans-serif;
}

/* Push-up down animation for the gray orb */
@keyframes pushup-down {
  0%, 100% {
    transform: translateY(0); /* Starting position */
  }
  50% {
    transform: translateY(-30px); /* Move up */
  }
}

/* Push-up up animation for the white orb */
@keyframes pushup-up {
  0%, 100% {
    transform: translateY(0); /* Starting position */
  }
  50% {
    transform: translateY(30px); /* Move down */
  }
}

.animate-pushup-down {
  animation: pushup-down 1s ease-in-out infinite; /* Gray orb moves up */
}

.animate-pushup-up {
  animation: pushup-up 1s ease-in-out infinite; /* White orb moves down */
}